[Desktop Entry]
Type=Application
Version=1.0
Name=AppShelf
Comment=Manage AppImages with Omarchy
Exec=appshelf %f
Icon=org.omarchy.appshelf
Terminal=false
Categories=Utility;
MimeType=application/vnd.appimage;
Keywords=AppImage;install;applications;Omarchy;
StartupWMClass=org.omarchy.appshelf
